<link rel="stylesheet" href="./partials/css/bottommenu.css">

<div class="bottom-menu">
    <div class="shortcut-links flex-div">
        <a href="/"><img src="./images/home.png" alt=""> <p>Home</p></a>
        <a href="/likedvideos"><img src="./images/like.png" alt=""> <p>Liked Videos</p></a>
        <!-- <a href="/"><img src="./images/subscriptionsicon.png" alt=""> <p>Subscriptions</p></a> -->
        <a href="/userpage"><img src="./images/user.png" alt=""> <p>Library</p></a>
    </div>
</div>

