<link rel="stylesheet" href="./partials/css/bottommenu.css">

<div class="bottom-menu">
    <div class="shortcut-links flex-div">
        <a href="/"><img src="./images/home.png" loading="lazy" alt=""> <p>Home</p></a>
        <a href="/likedvideos"><img src="./images/like.png" loading="lazy" alt=""> <p>Liked Videos</p></a>
        <a href="/userpage"><img src="./images/user.png" loading="lazy" alt=""> <p>Library</p></a>
    </div>
</div>

