<link rel="stylesheet" href="./partials/css/bottommenu.css">

<div class="bottom-menu">
    <div class="shortcut-links flex-div">
        <a href="#"><img src="../images/home.png" alt=""> <p>Home</p></a>
        <a href="#"><img src="../images/explore.png" alt=""> <p>Explore</p></a>
        <a href="#"><img src="../images/subscriprion.png" alt=""> <p>Subscriptions</p></a>
    </div>
</div>