<link rel="stylesheet" href="./partials/css/mainpage.css">

<div class="container" id="mainpage">
    <div class="banner">
        <img src="../images/banner.png" alt="" srcset="">
    </div>


    <div class="list-container">
        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <a href="#">  <img src="../images/thumbnail1.png" class="thumbnail" alt="" srcset=""> </a>
            <div class="flex-div">
                <img src="../images/Jack.png" alt="" srcset="">
                <div class="vid-info">
                    <a href="#">Best Channel to learn coding that help you to be (Video Title Here)</a>
                    <p>Channel Name Here</p>
                    <p>15k Views &bull; 2 days</p>
                </div>
            </div>
        </div>

        

    </div>

</div>

