<link rel="stylesheet" href="./partials/css/mainpage.css">

<div class="container" id="mainpage">

    <div class="list-container">
        <% for(let i = 0 ; i < items.length ; i++){ %>

            <div class= "vid-list s<%=i%>">
                <a href=#> <img src="../../images/skeleton.png" class="thumbnail skeleton"> </a>
                            <div class="flex-div">
                             <a href=#><img src="../../images/skeleton.png" class="skeleton" alt="" srcset=""></a> 
                                <div class="vid-info">
                                    <a href=# class="skeleton-text">${data[i].snippet.title}</a>
                                   <a href=# > <p class="skeleton-text">${data[i].snippet.channelTitle}</p></a>
                                    
                                    <p class="skeleton-text"> ${views} Views &bull; 2 days</p>
                                </div>
                            </div>
            </div>

        <%}%>
    </div>

</div>



<script>
    
    let data = <%-JSON.stringify(items)%>;

</script>

<script src="./partials/js/mainpage.js"></script>