<link rel="stylesheet" href="./partials/css/mainpage.css">

<div class="container" id="mainpage">
    <!-- <div class="banner">
        <img src="../images/banner.png" alt="" srcset="">
    </div> -->


    <div class="list-container">
        
        <% for(let i = 0 ; i < items.length ; i++){ %>
            <div class="vid-list">
                <a href=https://www.youtube.com/watch?v=<%=items[i].id%>>  <img src=<%=items[i].snippet.thumbnails.medium.url%> class="thumbnail" alt="Image Here" srcset=""> </a>
                <div class="flex-div">
                    <img src="../images/Jack.png" alt="" srcset="">
                    <div class="vid-info">
                        <a href="#"><%-items[i].snippet.title%></a>
                        <p><%-items[i].channelTitle%></p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
            </div>
        <%}%>
 

    </div>

</div>

