<link rel="stylesheet" href="./partials/css/sidebar.css">

<div class="sidebar">

    <div class="sidebar-util">

    <div class="shortcut-links">
        <a href="/"><img src="../images/home.png" alt="" srcset=""><p>Home</p></a>
        <a href="/userpage"><img src="../images/library.png" alt="" srcset=""><p>Library</p></a>
        <a href="/likedvideos"><img src="../images/like.png" alt="" srcset=""><p>Liked Videos</p></a>
       
        <hr>
    </div>

    <% if(subs.length > 0){%>

    <div class="subscribed-list">
        <h3>Subscriptions</h3>

     <%   for(let i = 0 ; i < subs.length ; i++){  %>
        <a href=/channelpage?c=<%=subs[i].snippet.resourceId.channelId%>>
            <img src=<%=subs[i].snippet.thumbnails.medium.url%> alt="" srcset="">
            <p><%=subs[i].snippet.title%></p>
        </a>
     <% }  %>

        <!-- <a href="#"><img src="../images/Jack.png" alt="" srcset=""><p>Jack Nicholson</p></a>
        <a href="#"><img src="../images/simon.png" alt="" srcset=""><p>Simon Baker</p></a>
        <a href="#"><img src="../images/tom.png" alt="" srcset=""><p>Tom Hardy</p></a>
        <a href="#"><img src="../images/megan.png" alt="" srcset=""><p>Megan Ryan</p></a>
        <a href="#"><img src="../images/cameron.png" alt="" srcset=""><p>Cameron Diaz</p></a> -->
    </div>

    <%}%>
</div>
</div>


