<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Lite - HomePage</title>
     <link rel="stylesheet" href="./css/HomePage.css">
</head>
<body>

    <%- include('partials/nav.ejs') %>
    
    <%- include('partials/sidebar.ejs') %>
    
    <%- include('partials/mainpage.ejs') %>
    
    <%- include('partials/bottommenu.ejs') %>


<script src="./js/HomePage.js"></script>
<script src="https://kit.fontawesome.com/57a3e51741.js" crossorigin="anonymous"></script>
</body>
</html>