<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "theme-color" content="red">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="./images/Icons/192x192.png">
    <link rel="shortcut icon" href="https://www.youtube.com/s/desktop/451d4225/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://www.youtube.com/s/desktop/451d4225/img/favicon_96x96.png" sizes="96x96">
    <link rel="stylesheet" href="./css/LoginPage.css">
    <title>YouTube Lite - LoginPage</title>
    </head>
<body>

     <h1>Google Authorization</h1>

     <a href="/googleauth/signin"><img src="./images/btn_google_signin_dark_normal_web@2x.png" alt="" srcset=""></a>



</body>
</html>