<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/LoginPage.css">
    <title>YouTube Lite - LoginPage</title>
</head>
<body>
    
     <h1>Google Authorization</h1>

     <a href="/googlesignin"><img src="./images/btn_google_signin_dark_normal_web@2x.png" alt=""></a>


</body>
</html>