<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube-Lite - Offline</title>
    <link rel="stylesheet" href="./css/OfflinePage.css">
</head>
<body>
    <div class="container">
        Sorry You Are Offline
        <br>
        <hr>
        <br>
        Check Your Internet Connection

        <br><br>
        <a href="/">Go to HomePage</a>
    </div>
</body>
</html>