.bottom-menu{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
    background-color: white;
}

.bottom-menu .shortcut-links{
    justify-content: space-between;
    padding: 1% 10%;
}

.bottom-menu .shortcut-links a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-menu .shortcut-links img{
    width: 25px;
}

.bottom-menu .shortcut-links p{
    font-size: 10px;
}

@media (min-width : 901px){
    .bottom-menu{
        display: none;
    }
}

@media (prefers-color-scheme: dark){
    .bottom-menu {
        background: var(--dark);
    }

    .bottom-menu .shortcut-links img {
        filter: invert(1);
    }
}