::-webkit-progress-bar{
    color: aqua
}

nav{
    padding: 10px 2%;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: 0.4s all;
}

nav i{
    cursor: pointer;
}

.nav-right img{
    width: 25px;
    margin-right: 25px ;
}

.nav-right i{
    width: 25px;
    margin-right: 25px ;
}

.nav-right i{
    font-size: 25px;
    display: none;
}

.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}

.nav-left{
    height: 100%;
}

.nav-left .menu-icon{
   font-size: 25px;
   margin-right: 25px;
}

.nav-left .logo{
    width: 105px;
}

.nav-left .logo-small{
    color: red;
    font-size: 45px;
    margin-right: 25px ;
}

.nav-middle{
    width: 600px;
}

.nav-middle .search-box{
   border: 1px solid #ccc;
   width: 100%;
   height: 40px;
   border-radius: 25px;
   margin: 15px;
}

.nav-middle .search-box .input-div{
    width: 90%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #ffffff;
    padding: 0px 12px;
}

.nav-middle .search-box input{
    width: 90%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 0;
    outline: 0;
    background-color: white;
}

.nav-middle .search-box img{
    width: 15px ;
}

.nav-middle .search-box .btn-div{
    height: 100%;
    width: 10%;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nav-middle .search-box button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}

.search-box-small{
    flex-basis: 100%;
    display: none;
    position: sticky;
    align-items: center;
    justify-content: center;
    z-index: 9;
    transition: 0.4s all;
    margin-top: -60px;
}

.visible-box{
    transition: 0.4s all;
    margin-top: 0px;
    top: 60px;
}

.search-box-small input{
    border: none;
    border-bottom: solid #606060 0.5px;
    outline: none;
    width: 99%;
    border-radius: 2pxs;
    height: 50px;
    font-size: 1.3rem;
    padding: 0 5%;
    background: rgb(237, 237, 237)
}

.search-box input:focus{
    border-bottom: solid #606060 0.7px;
}

@media (min-width:901px){
    .nav-left .logo{
        display: block;
    }
    .nav-left .logo-small{
        display: none;
    }
}

@media (max-width:900px){
    nav{
        flex-wrap: wrap;
    }

    .nav-left .logo{
        display: none;
    }

    .nav-left .logo-small{
        display: block;
    }

    .nav-left .menu-icon{
        display: none;
    }

    .nav-middle{
        width: auto;
    }
    .nav-middle .search-box{
       display: none;
    }

    .nav-right .upload , .nav-right .more , .nav-right .notification{
        display: none;
    }

    .nav-right .search{
        display: inline;
    }

    .search-box-small{
        display: flex;
    }
}