::-webkit-progress-bar{
    color: aqua
}

nav{
    padding: 10px 2%;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav i{
    cursor: pointer;
}

.nav-right img{
    width: 25px;
    margin-right: 25px ;
}

.nav-right i{
    width: 25px;
    margin-right: 25px ;
}

.nav-right i{
    font-size: 25px;
    display: none;
}

.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}

.nav-left{
    height: 100%;
}

.nav-left .menu-icon{
   font-size: 25px;
   margin-right: 25px;
}

.nav-left .logo{
    width: 105px;
}

.nav-left .logo-small{
    color: red;
    font-size: 45px;
    margin-right: 25px ;
}

.nav-middle{
    width: 600px;
}

.nav-middle .search-box{
   border: 1px solid #ccc;
   width: 100%;
   height: 40px;
   border-radius: 25px;
   margin: 15px;
}

.nav-middle .search-box .input-div{
    width: 90%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #ffffff;
    padding: 0px 12px;
}

.nav-middle .search-box input{
    width: 90%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 0;
    outline: 0;
    background-color: white;
}

.nav-middle .search-box img{
    width: 15px ;
}

.nav-middle .search-box .btn-div{
    height: 100%;
    width: 10%;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nav-middle .search-box button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}

@media (min-width:901px){
    .nav-left .logo{
        display: block;
    }
    .nav-left .logo-small{
        display: none;
    }
}

@media (max-width:900px){
    .nav-left .logo{
        display: none;
    }

    .nav-left .logo-small{
        display: block;
    }

    .nav-left .menu-icon{
        display: none;
    }

    .nav-middle .search-box{
       display: none;
    }

    .nav-right .upload , .nav-right .more , .nav-right .notification{
        display: none;
    }

    .nav-right .search{
        display: inline;
    }
}