.sidebar-util::-webkit-scrollbar{
    display: none;
}

.sidebar-util:hover::-webkit-scrollbar{
    display: block;
}



.sidebar{
    background: #fff;
    width: 15%;
    position: fixed;
    top: 0;
    height: 100vh;
    transition: .5s;
    z-index: 9;
   
}

.sidebar-util{
    width: 100%;
    height: 100%;
    margin-top: 65px;
    padding-top: 3%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar .shortcut-links{
    padding-left: 3%;
}

.sidebar .subscribed-list{
    padding-left: 3%;
}

.large-padding{
    padding-left: 25%!important;
}


.sidebar a{
    width: 100%;
}

.sidebar .shortcut-links a img{
    width: 20px;
    margin-right: 20px ;
}

.sidebar .shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.sidebar .shortcut-links a:first-child{
    color: #ed3833;
}

.sidebar hr{
    margin: auto;
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}

.sidebar .subscribed-list h3{
    font-size: 18px;
    margin: 20px 0;
    color: #5a5a5a;
}

.sidebar .subscribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.sidebar .subscribed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-sidebar{
    width: 5%;
}

.small-sidebar a p ,.small-sidebar h3{
    display: none;
}

.small-sidebar hr{
    width: 75%;
    margin-bottom: 25px;
}

@media (max-width : 900px){
    .sidebar{
        display: none;
    }
}
