.sidebar-util::-webkit-scrollbar-thumb{
   background: transparent;
}

.sidebar-util::-webkit-scrollbar-track{
    background: transparent;
 }

.sidebar-util:hover::-webkit-scrollbar-thumb{
    background: rgba(0 , 0, 0, 0.2);
}

.sidebar-util:hover::-webkit-scrollbar-track{
    background: rgba(0 , 0, 0, 0.1);
 }

 .sidebar-util::-webkit-scrollbar-thumb:hover{
    background: rgba(0 , 0, 0, 0.25);
}


.sidebar{
    width: 15%;
    position: fixed;
    top: 0;
    height: 100vh;
    transition: .5s;
    z-index: 9;
    opacity: 1;    
    background: white;
}



.sidebar-util{
    width: 100%;
    height: 100%;
    margin-top: 65px;
    padding-top: 3%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar .shortcut-links{
    padding-left: 3%;
}

.sidebar .subscribed-list{
    padding-left: 3%;
    padding-bottom: 15%;
}

.large-padding a {
    padding-left: 25%!important;
    margin-bottom: 20%!important;
}


.sidebar a{
    width: 100%;
}

.sidebar .shortcut-links a img{
    width: 20px;
    margin-right: 20px ;
}

.sidebar .shortcut-links a {
    display: flex;
    align-items: center;
    padding: 5% 5% 5% 5%;
    margin-bottom: 1%;
    border-radius: 12px;
    font-weight: 350;
    flex-wrap: nowrap;
}

.sidebar hr {
    margin: auto;
    border: 0;
    height: 1px;
    margin-top: 7%;
    background: #ccc;
    width: 85%;
}

.sidebar .subscribed-list h3{
    font-size: 18px;
    margin: 20px 0;
    color: #5a5a5a;
}

.sidebar .subscribed-list a {
    display: flex;
    align-items: center;
    padding: 5% 5% 5% 5%;
    border-radius: 12px;
    margin-bottom: 1%;
    font-weight: 350;
    overflow: hidden;
    flex-wrap: nowrap;
}

.sidebar .subscribed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
    background: #5a5a5a;
}

.small-sidebar{
    width: 5%;
}

.small-sidebar a p ,.small-sidebar h3{
    display: none;
}

.small-sidebar hr{
    width: 75%;
    margin-bottom: 25px;
}

.sidebar .shortcut-links a:hover {
    background: rgb(0 0 0 / 5%);
}
.sidebar .subscribed-list a:hover {
    background: rgb(0 0 0 / 5%);
}

@media (prefers-color-scheme: dark){
    .sidebar {
        background: var(--dark);
    }

    .sidebar .shortcut-links a:hover {
        background: rgb(255 255 255 / 10%);
    }

    .sidebar .subscribed-list a:hover {
        background: rgb(255 255 255 / 10%);
    }

    .sidebar .shortcut-links a img {
        filter: invert(1);
    }

    a {
        color: var(--white);
    }

    .sidebar .subscribed-list h3 {
        color: var(--white);
    }

    .sidebar-util:hover::-webkit-scrollbar-thumb {
        background: #555;
        opacity: 1;
    }

    .sidebar-util::-webkit-scrollbar-thumb:hover {
        background: rgb(255 255 255);
      }
    

    .sidebar-util:hover:-webkit-scrollbar-track {
        background: #3b3b3b7d;
    }
}

@media (max-width : 900px){
    .sidebar{
        display: none;
    }
}
